{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
		</div>
		<div class="home_content">
			<h1>32 Bits</h1>
		</div>
	</div>

<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Column -->

				<div class="col-lg-8">

					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div>1</div>
										<div></div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="">Ingrese un número decimal</a>
									</div>
									<div class="news_post_meta">
										<span class="news_post_author">por GRUPO 2</span>
									</div>


									<div class="news_post_title">
										<form class="form" action="/iee/32BitsAccion/" method="POST">
											{% csrf_token %}
											<div class="camposLogin">
												<input type="text" placeholder="Ingrese decimal" class="form-control"  name="32bits" required>
											</div>

											<input class="btn" type="submit" value="Calcular">
										</form>
									</div>

								</div>

							</div>
							<br>

				</div>
						</div>
					</div>


			</div>
			</div>
		</div>
	</div>
{% endblock %}