{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
    </div>

</div>


<div class="services page_section">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Calculadora</h1>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row services_row">

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="images/earth-globe.svg" alt="" width="70">
                </div>
                <br>

                <h3>Método numérico </h3>
                <body>
                <p style="color:black;">Es un procedimiento el cual se obtiene de una manera aproximada, la solución de
                    ciertos problemas realizando cálculos aritméticos y lógicos. Un procedimiento consiste en una
                    lista finita de instrucciones precisas de una secuencia de operaciones que producen la solucion del
                    problema.</p>
                </body>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="images/books.svg" alt="" width="70">
                </div>
                <br>
                <h3>Proyecto</h3>
                <body>
                <p style="color:black;">Este proyecto consiste en realizar una serie de calculadoras, desde conversion
                    de bases hasta vectores y matrices, por lo que se requiere desarrollar un software que nos permita
                    realizar las
                    conversiones entre las diferentes bases. Usamos el lenguaje de programación Python y el framework
                    Django </p>
                </body>

            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="images/professor.svg" alt="" width="70">
                </div>
                <br>

                <h3>Utilidad </h3>
                <body>
                <p style="color:black;">Con la calculadora se realizan de manera automática operaciones como matrices o
                    el trazado de las gráficas de funciones aritméticas. De esta forma, se consigue una mayor dedicación
                    a la interpretación de los resultados y a la comprensión de las operaciones.</p>
                </body>

            </div>


        </div>
    </div>
</div>
{% endblock %}
