{% extends 'base.html' %}
{% load static %}
{% block content %}




	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
		</div>

	</div>


<div class="services page_section">

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Calculadora de bases</h1>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="row services_row">

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/earth-globe.svg" alt="" width="70" >
					</div>
					<br>

					<h3>Método numérico </h3>
					<body>
						<p style="color:black;">Es un procedimiento el cual se obtiene de una manera aproximada, la solución de ciertos problemas realizando cálculos aritméticos y lógicos. Un procedimiento consiste en una
						lista finita de instrucciones precisas de una secuencia de operaciones que producen la solucion del problema.</p>
					</body>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/books.svg" alt="" width="70">
					</div>
					<br>
					<h3>Proyecto</h3>
						<body>
						<p style="color:black;">Este proyecto consiste en realizar una calculadora de bases (binaria, decimal, octal, hexadecimal), por lo que se requiere desarrollar un software que nos permita realizar las
												conversiones entre las diferentes bases. Usamos el lenguaje de programación Python y el framework Django </p>
						</body>

				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/professor.svg" alt="" width="70">
					</div>
					<br>

 						 <h3>Utilidad </h3>
					<body>
 						 <p style="color:black;">Es especialmente útil conocer el sistema de conversión de Decimal a Binario y viceversa, ya que es el sistema de numeración con el que trabajan directamente los componentes de un ordenador. Pero también es muy útil conocer el sistema hexadecimal
						y octal, ya que es utilizado por ejemplo para representar los códigos de colores, claves y gran cantidad de códigos de nuestro equipo.</p>
					</body>

				</div>


			</div>
		</div>
	</div>
{% endblock %}