{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
		</div>
		<div class="home_content">
			<h1>Trapecios</h1>
		</div>
	</div>

<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Column -->

				<div class="col-lg-8">

					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div>1</div>
										<div></div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="">Ingrese una función</a>
									</div>
									<div class="news_post_meta">
										<span class="news_post_author">por GRUPO 2</span>
									</div>


									<div class="news_post_title">
										<form class="form" action="/trapecioR/" method="POST">
											{% csrf_token %}


											<style> table, th, td { text-align: center !important; } </style>
										<table class="table" border="0">
											  <tr>
												<td><h2 style="color:#ffa006;" >Función:   </h2></td>
												<td><div class="camposLogin">
												<input type="text"  placeholder="Digite función" class="form-control"  name="funcion" required>
											</div></td>
											  </tr>
											<tr>
												<td><h2 style="color:#ffa006;" >Particiones:   </h2></td>
												<td><div class="camposLogin">
												<input type="text" placeholder="Particiones" class="form-control"  name="particiones" required>
											</div></td>
											  </tr>
                        <tr>
  												<td><h2 style="color:#ffa006;" >Izquierdo:   </h2></td>
  												<td><div class="camposLogin">
  												<input type="text" placeholder="Izquierdo" class="form-control"  name="a" required>
  											</div></td>
  											  </tr>
                          <tr>
    												<td><h2 style="color:#ffa006;" >Derecho:   </h2></td>
    												<td><div class="camposLogin">
    												<input type="text" placeholder="Derecho" class="form-control"  name="b" required>
    											</div></td>
    											  </tr>
										</table>

											<input class="btn" type="submit" value="Calcular">
										</form>



										<div class="news_post_title">
										<a href="">Solución Trapecios</a>
									</div>
									<br>

										<div style="top:60; left:40;">
										<style> table, th, td { text-align: center !important; } </style>
										<table class="table" border="1">
											<table class="table" border="1">
												<tr>
													<td><h2 style="color:#ffa006;" >Funcion evaluada:   </h2></td>
													<td><h2 style="color:black;" >  {{ fun }} </h2></td>
												  </tr>
												<tr>
													<td><h2 style="color:#ffa006;" >Numero particiones:   </h2></td>
													<td><h2 style="color:black;" >  {{ n }} </h2></td>
												  </tr>
											</table>
											<table class="table" border="1">
											<tr>
												<td><h2 style="color:#ffa006;" >Integral:   </h2></td>
												<td><h2 style="color:black;" >  {{ suma }} </h2></td>
											  </tr>
												<tr>
													<td><h2 style="color:#ffa006;" >Error:   </h2></td>
													<td><h2 style="color:black;" >  {{ error }} </h2></td>
													</tr>
										</table>


								</div>
									</div>

								</div>

							</div>

						</div>
					</div>

				</div>

			</div>

		</div>

	</div>
{% endblock %}
