{% extends 'base.html' %}
{% load static %}
{% block content %}



	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
		</div>
		<div class="home_content">
			<h1>Resultado </h1>
		</div>
	</div>

<div class="news">
		<div class="container">
             <div class="news_post_title">
										<a href="">Conversión a 32 bits</a>
									</div>
            <br>
			<div class="row">

				<!-- News Column -->
<div style="top:40; left:40;">

											<style> table, th { text-align: center !important; } </style>
											<table class="table" border="5.0">
										  <tr>
												<td><h3 style="color:#ffa006;" > Binario:   </h3></td>
												<td><h3 style="color:black;" >  {{ binario }} </h3></td>
											  </tr>
											<tr>
												<td><h3 style="color:#ffa006;" >Normalización:   </h3></td>
												<td><h3 style="color:black;" >  {{ normal }} </h3></td>
											  </tr>
											<tr>
												<td><h3 style="color:#ffa006;" >Signo:   </h3></td>
												<td><h3 style="color:black;" >  {{ signo }} </h3></td>
											  </tr>
                                                <tr>
												<td><h3 style="color:#ffa006;" >Mantisa:   </h3></td>
												<td><h3 style="color:black;" >  {{ mantisa }} </h3></td>
											  </tr>

                                                <tr>
												<td><h3 style="color:#ffa006;" >Exponente decimal:   </h3></td>
												<td><h3 style="color:black;" >  {{ expDecimal }} </h3></td>
											  </tr>

                                                <tr>
												<td><h3 style="color:#ffa006;" >Exponente binario:   </h3></td>
												<td><h3 style="color:black;" >   {{ expBin }}  </h3></td>
											  </tr>
										</table>
								</div>

</div>
                <div class="news_post_title">
										<a href="">Conversión 64 bits</a>
									</div>
<br>
            <div class="row">
<div style="top:40; left:40;">

											<style> table, th { text-align: center !important; } </style>
											<table class="table" border="5.0">
										  <tr>
												<td><h3 style="color:#ffa006;" > Binario:   </h3></td>
												<td><h3 style="color:black;" >  {{ binario2 }} </h3></td>
											  </tr>
											<tr>
												<td><h3 style="color:#ffa006;" >Normalización:   </h3></td>
												<td><h3 style="color:black;" >  {{ normal2 }} </h3></td>
											  </tr>
											<tr>
												<td><h3 style="color:#ffa006;" >Signo:   </h3></td>
												<td><h3 style="color:black;" >  {{ signo2 }} </h3></td>
											  </tr>
                                                <tr>
												<td><h3 style="color:#ffa006;" >Mantisa:   </h3></td>
												<td><h3 style="color:black;" >  {{ mantisa2 }} </h3></td>
											  </tr>

                                                <tr>
												<td><h3 style="color:#ffa006;" >Exponente decimal:   </h3></td>
												<td><h3 style="color:black;" >  {{ expDecimal2 }} </h3></td>
											  </tr>

                                                <tr>
												<td><h3 style="color:#ffa006;" >Exponente binario:   </h3></td>
												<td><h3 style="color:black;" >   {{ expBin2 }}  </h3></td>
											  </tr>
										</table>
								</div>

</div>
            </div>

		</div>
	</div>
{% endblock %}