{% extends 'base.html' %}
{% load static %}
{% block content %}



	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
		</div>
		<div class="home_content">
			<h1>Resultado Matrices</h1>
		</div>
	</div>


<div class="news">
		<div class="container">
            <br>
			<div class="row">

				<!-- News Column -->


                <div class="news_post_title">
										<a href="">Tabla de resultados</a>
									</div>
<br>
<style> table, th, td { text-align: center !important; } </style>


				<table class="table" border="5.0" style="align-content: center">
										  <tr>
												<td><h2 style="color:#ffa006;" > matrix final:   </h2></td>
												<td><h2 style="color:black;" >  {{ matris_final }} </h2></td>
									
										  </tr>
				</table>


		</div>
	</div>
{% endblock %}